/* Button List
==============*/
.button-list {
  margin-top: 20px;
  margin-bottom: 20px;
}

.button-list ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.button-list ul li {
  list-style-type: none;
  margin: 0 20px;
}

.button-list li a {
  display: block;
  background: var(--colourFour);
  color: var(--colourTwo);
  padding: 15px 25px;
  border-radius: 5px;
  box-shadow: 2px 0px 5px -1px rgba(0, 0, 0, 0.75);
  text-decoration: none;
  transition: ease 0.2s background;
  text-align: center;
}

.button-list li a:focus,
.button-list li a:hover {
  background: var(--colourEight);
}

@media (min-width: 801px) {
  .button-list.stacked ul {
    flex-wrap: wrap;
    padding: 0 25px;
  }

  .button-list.stacked ul li {
    width: calc(50% - 40px);
    margin-bottom: 20px;
  }
}

@media (max-width: 800px) {
  .button-list ul {
    display: block;
    padding: 0 25px;
  }

  .button-list ul li {
    display: block;
    margin: 0 0 10px 0;
    width: 100%;
  }

  .button-list ul li:last-child {
    margin-bottom: 0;
  }
}
